.personalInfo-form input {
  outline: none;
  background-color: #e3e2e2;
  border-radius: 4px !important;
  padding-left: 1%;
  width: 50%;
  height: 5vh;
}
.form-group {
  width: 100%;
}
.input-group-btn {
  width: 100% !important;
}
.input-group-prepend {
  width: 100% !important;
}
.input-group {
  width: 60%;
}
.personalInfo-form textarea {
  background-color: #e3e2e2;
  border-radius: 4px;
  border: 0px;
  padding-left: 1%;
  line-height: 31px;
  font-family: Arial, Helvetica, Sans-serif;
  resize: none;
  color: black;
  width: 50%;
}

.personalInfo-bioField {
  width: 100%;
}

.personalInfo-form textarea:focus {
  outline: none;
}

.personalInfo-form label {
  width: 17%;
  float: left;
}

.personalInfo-form select {
  outline: none;
  background-color: #e3e2e2;
  border-radius: 4px;
  border: 0px;
  padding-left: 1%;
  width: 50%;
  height: 5vh;
}

.personalInfo-main {
  border-radius: 8px;
  border: 1px solid #b9b5b5;
  background-color: #f2f2f2;
  box-shadow: -2px 3px 8px -1px rgba(0, 0, 0, 0.84);
}

.personalInfo-line {
  min-width: 50%;
  max-width: 94%;
}

.personalInfo-textAreaCounter {
  position: relative;
  z-index: 1004;
  margin-top: -3%;
  margin-left: 55%;
}

.personalInfo-bioField textarea {
  min-width: 50%;
  min-height: 20vh;
}

/*phone component input*/
.react-tel-input .form-control {
  width: 100% !important;
  background-color: #e3e2e2 !important;
  border: 0px !important;
  height: 5vh;
}
.react-tel-input .country-list {
  background-color: #e3e2e2 !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: #c2c2c9 !important;
}
.react-tel-input .selected-flag {
  background-color: #e3e2e2 !important;
}

.react-tel-input .country-list .country.highlight {
  background-color: #c2c2c9 !important;
}

.react-tel-input .country-list .country:hover {
  background-color: #d2d2db !important;
}
.personalInfo-btn {
  width: 50%;
  margin-left: 18%;
}

.personalInfo-btn button {
  outline: none;
  border: 0px;
  border-radius: 8px;
  color: white;
}

.personalInfo-btn .submitBtn button {
  background-color: #000000;
  width: 90%;
}
.personalInfo-btn .cancelBtn button {
  background-color: #8b8b8b;
  margin-left: 2%;
  width: 90%;
}

/*date selector css*/
.dateOfBirth-field {
  margin-left: 17% !important;
  width: 98%;
}
.MuiInput-underline:before {
  border-bottom: 0px !important;
}
.MuiInput-underline:after {
  border-bottom: 0px !important;
}
