.personalInfo-form input {
  outline: none;
  background-color: #e3e2e2;
  border-radius: 4px;
  border: 0px;
  padding-left: 1%;
  width: 50%;
  height: 5vh;
}

.personalInfo-form textarea {
  background-color: #e3e2e2;
  border-radius: 4px;
  border: 0px;
  padding-left: 1%;
  line-height: 31px;
  font-family: Arial, Helvetica, Sans-serif;
  resize: none;
  color: black;
}

.personalInfo-form textarea:focus {
  outline: none;
}

.personalInfo-form label {
  width: 17%;
  float: left;
}

.personalInfo-form select {
  outline: none;
  background-color: #e3e2e2;
  border-radius: 4px;
  border: 0px;
  padding-left: 1%;
  width: 50%;
  height: 5vh;
}

.personalInfo-main {
  border-radius: 8px;
  border: 1px solid #b9b5b5;
  background-color: #f2f2f2;
  box-shadow: -2px 3px 8px -1px rgba(0, 0, 0, 0.84);
}

.personalInfo-line {
  min-width: 50%;
  max-width: 94%;
}

.personalInfo-textAreaCounter {
  color: #7e828d;
  border-radius: 0px 0px 4px 4px;
  min-width: 50%;
  height: 4vh;
  margin-left: 17%;
  margin-right: 33%;
  background-color: #e3e2e2;
  font-size: 13px;
  display: block;
  margin-top: -1%;
}

.personalInfo-Counter {
  min-width: 30%;
  margin-left: 75%;
}

.personalInfo-bioField textarea {
  min-width: 50%;
  min-height: 15vh;
}

/*phone component input*/
.react-tel-input .form-control {
  width: 76% !important;
  background-color: #e3e2e2 !important;
  border: 0px !important;
}
.react-tel-input .country-list {
  background-color: #e3e2e2 !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: #c2c2c9 !important;
}
.react-tel-input .selected-flag {
  background-color: #e3e2e2 !important;
}

.react-tel-input .country-list .country.highlight {
  background-color: #c2c2c9 !important;
}

.react-tel-input .country-list .country:hover {
  background-color: #d2d2db !important;
}
.personalInfo-btn {
  width: 50%;
  margin-left: 18%;
}

.personalInfo-btn button {
  outline: none;
  border: 0px;
  border-radius: 8px;
  color: white;
}

.personalInfo-btn .submitBtn button {
  background-color: #000000;
  width: 90%;
}
.personalInfo-btn .cancelBtn button {
  background-color: #8b8b8b;
  margin-left: 2%;
  width: 90%;
}
