/*bg color css*/
.pro-sidebar {
  color: black !important;
}
.pro-sidebar > .pro-sidebar-inner {
  background-color: rgb(172, 172, 172) !important;
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: rgb(172, 172, 172) !important;
}
/*arrow css*/
.pro-sidebar
  .pro-menu
  .pro-menu-item.pro-sub-menu
  > .pro-inner-item
  > .pro-arrow-wrapper
  .pro-arrow {
  border-color: black !important;
}

.pro-sidebar
  .pro-menu
  .pro-menu-item.pro-sub-menu
  > .pro-inner-item
  > .pro-arrow-wrapper
  .pro-arrow {
  background-color: rgb(172, 172, 172) !important;
}
/*border css*/
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.2) !important;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-footer {
  border-top: 1px solid rgba(128, 128, 128, 0.2) !important;
}

.container {
  max-width: 100% !important;
}

.profile-main {
  height: 100vh !important;
}

.profile-center {
  max-height: 100%;
}

.profile-right {
  max-height: 100%;
}

.profile-left {
  max-height: 100%;
}

.personalInfo-form input {
  outline: none;
  margin-left: 2%;
  background-color: #e3e2e2;
  border-radius: 4px;
  border: 0px;
  padding-left: 1%;
}

.personalInfo-form select {
  outline: none;
  margin-left: 2%;
  background-color: #e3e2e2;
  border-radius: 4px;
  border: 0px;
  padding-left: 1%;
}

.personalInfo-form select {
  outline: none;
}

.personalInfo-main {
  border: 1px solid black;
  background-color: #f2f2f2;
  box-shadow: -2px 3px 8px -1px rgba(0, 0, 0, 0.84);
}
